.projetos{
    margin: 0;
    width: 100%;
    color:aliceblue;
    font-family: 'Lucida Sans Unicode';
}

.projetos h1{
    font-family: 'Lucida Sans Unicode';
    font-size: 4vw;
    text-align: center;
    padding-top: 3%;
}

.projetos #painel{
    width: 100%;
    background-color: rgb(50, 50, 97);
    box-shadow: 0px 0.2vw 1.2vw black;
}

.projetos #painel p{
    padding: 2% 20% 1% 20%;
    font-size: 1.3vw;
}

.projetos #painel p::first-letter{
    font-size: 1.5vw;
    font-weight: bold;
    padding-left: 20px;
}

.projetos #painel h3{
    padding: 0 25% 0 25%;
    font-size: 2vw;
}

.projetos #painel ul{
    padding: 0 25% 0 25%;
    display: flex;
    align-items: center;
    justify-content: left;
    list-style: none;
}

.projetos #painel ul li:first-child{
    margin-left: 0;
}

.projetos #painel ul li{
    margin-left: 5%;
    font-size: 1.3vw;
}

.projetos #painel ul li a{
    color: rgb(18, 23, 27);
}

.projetos #painel span{
    color: yellow;
    padding: 0 25% 0 25%;
    font-size: 1.3vw;
}

.projetos #painel .potatoimg{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1% 0 1% 0;
}

.projetos #painel .potatoimg img{
    width: 60%;
    border-radius: 1vw;
    border: solid 0.8vw rgb(71, 82, 67);
    box-shadow: 0.5vw 0.5vw 1.2vw black;
}

.projetos #painel .personas{
    width: 50%;
    margin: 0 25% 0 25%;
    display: flex;
    flex-direction: column;
}

.projetos #painel .personas .mouduras{
    padding: 2% 0 2% 0;
    width: 100%;
    display: flex;
    align-items: center;
}

.projetos #painel .personas img{
    width: 25%;
}

.projetos #painel .personas p{
    padding: 0;
}

@media screen and (max-width: 600px){
    .projetos h1{
        font-family: "Pixelify Sans", sans-serif;
        font-size: 40px;
        text-align: center;
        margin: 15% auto 13% auto;
    }

    .projetos #painel p img{   
        float: left;
        width: 150px;
        padding-right: 15px;
        padding-bottom: 5px;
        border-radius: 30px;
    }

    .projetos #painel p{
        padding: 2% 5% 1% 5%;
        font-size: 3.7vw;
    }
    
    .projetos #painel p::first-letter{
        font-size: 4vw;
        padding-left: 20px;
    }

    .projetos #painel h3{
        padding: 0 5% 0 5%;
        font-size: x-large;
    }

    .projetos #painel .potatoimg{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 5% 0 5% 0;
    }
    
    .projetos #painel .potatoimg img{
        width: 90%;
        border-radius: 30px;
        border: solid 10px rgb(75, 75, 161);
        box-shadow: 5px 5px 10px black;
    }

    .projetos #painel .personas{
        width: 90%;
        margin: 0 5% 0 5%;
        display: flex;
        justify-content: left;
        flex-direction: column;
    }
    
    .projetos #painel .personas .mouduras{
        margin: 1% 0 1% 0;
        width: 100%;
        display: flex;
        align-items: center;
    }
    
    .projetos #painel .personas img{
        width: 25%;
    }
    
    .projetos #painel .personas p{
        width: 100%;
        padding: 0;
        font-size: 3.7vw;
    }

    .projetos #painel ul li{
        margin-left: 5%;
        font-size: 3.7vw;
    }

    .projetos #painel span{
        color: yellow;
        padding: 0 25% 0 25%;
        font-size: 3.7vw;
    }
}