.title{
    margin-top: 5%;
    margin-bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    text-shadow: 0.5vw 0.5vw 0.5vw black;
    font-size: 1.6vw;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: aliceblue;
}

.title img{
    width: 25%;
    border-radius: 50%;
    border:1vw solid  rgb(59, 59, 102);
    box-shadow: 0.5vw 0.5vw 1.2vw black;
}

.sobre{
    margin: 0;
    width: 100%;
    color:aliceblue;
    font-family: 'Lucida Sans Unicode';
}

.sobre h1{
    font-family: 'Lucida Sans Unicode';
    font-size: 4vw;
    text-align: center;
    margin: 2% auto 5% auto;
}

.sobre #painel{
    width: 100%;
    background-color: rgb(50, 50, 97);
    box-shadow: 0px 0.2vw 1.2vw black;
}

.sobre #painel p{
    padding: 2% 20% 3% 20%;
    font-size: 1.3vw;
}

.sobre #painel p::first-letter{
    font-size: 1.5vw;
    font-weight: bold;
    padding-left: 20px;
}

.sobre #painel p img{   
    float: left;
    width: 23vw;
    padding-right: 15px;
    padding-bottom: 5px;
    border-radius: 30px;
}

.sobre #painel h3{
    padding: 0 25% 0 25%;
    font-size: 2vw;
}

.sobre .painel .intro{
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 600px){
    .title{
        display: none;
    }

    .sobre h1{
        font-family: "Pixelify Sans", sans-serif;
        font-size: 40px;
        text-align: center;
        margin: 15% auto 13% auto;
    }

    .sobre #painel p img{   
        float: left;
        width: 150px;
        padding-right: 15px;
        padding-bottom: 5px;
        border-radius: 30px;
    }

    .sobre #painel p{
        padding: 2% 5% 10% 5%;
        font-size: 3.7vw;
    }
    
    .sobre #painel p::first-letter{
        font-size: 4vw;
        padding-left: 20px;
    }

    .sobre #painel h3{
        padding: 0 5% 0 5%;
        font-size: x-large;
    }
}


